@font-face{
	font-family: "Entypo";
	src:url('../fonts/entypo.eot');
	src: url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
		url('../fonts/entypo.woff') format('woff'),
		url('../fonts/entypo.ttf') format('truetype'),
		url('../fonts/entypo.svg#EntypoRegular') format('svg');
		font-weight: normal;
		font-size: normal;
}

html{
	height: 100%;
	margin: 0;
	background-color: #222;
}

body{
	margin: 0;
	color: #FFF;
	font-family: Helvetica, Arial, sans-serif;
	height: 100%;
	min-width: 1000px;
}


h2{
	display: inline-block;
	margin-top: 5px;
	margin-left: 15px;
	color: #FFF;
	font-family: 'Source Code Pro', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

#page{
	width: 100%;
	height: 100%;

	background-color: #CCC;
}

#menu{
	position: relative;
	width: 100%;
	height: 40px;
	-webkit-transition: height 0.3s ease;
    -moz-transition: height 0.3s ease;
    -ms-transition: height 0.3s ease;
    -o-transition: height 0.3s ease;
    transition: height 0.3s ease;

	box-shadow: 0px 0px 0px #111;

	/*background-image: linear-gradient(bottom, rgb(5,5,5) 0%, rgb(60,60,60) 100%);
	background-image: -o-linear-gradient(bottom, rgb(5,5,5) 0%, rgb(60,60,60) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(5,5,5) 0%, rgb(60,60,60) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(5,5,5) 0%, rgb(60,60,60) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(5,5,5) 0%, rgb(60,60,60) 100%);*/

	background-color: rgb(5,5,5);

	border-top: 2px solid #e66d1c;
}

	.slogan{
		position: relative;
		left: 20px;
		bottom: 2px;
		color: #BBB;
		text-shadow: 0 0 1px black;
		font-family: 'Source Code Pro', sans-serif;
		font-style: italic;
		font-weight: 400;
		font-size: 13px;
	}

	.mail_inscription{
		display: inline-block;
		margin-left: 100px;
		font-size: 14px;
		color: #DDD;
	}

	#menu:hover{
		height: 200px;
		/*background-image: linear-gradient(bottom, rgb(5,5,5) 0%, rgb(60,60,60) 100%);
		background-image: -o-linear-gradient(bottom, rgb(5,5,5) 0%, rgb(60,60,60) 100%);
		background-image: -moz-linear-gradient(bottom, rgb(5,5,5) 0%, rgb(60,60,60) 100%);
		background-image: -webkit-linear-gradient(bottom, rgb(5,5,5) 0%, rgb(60,60,60) 100%);
		background-image: -ms-linear-gradient(bottom, rgb(5,5,5) 0%, rgb(60,60,60) 100%);*/

		-webkit-transition: height 0.5s ease, background-image 0.7s ease;
      	-moz-transition: height 0.5s ease, background-image 0.7s ease;
        -ms-transition: height 0.5s ease, background-image 0.7s ease;
        -o-transition: height 0.5s ease, background-image 0.7s ease;
        transition: height 0.5s ease, background-image 0.7s ease;
	}

	#menu:hover + #menuuser{
		opacity: 0;	
		-webkit-transition: opacity 0.2s ease;
    	-moz-transition: opacity 0.2s ease;
    	-ms-transition: opacity 0.2s ease;
    	-o-transition: opacity 0.2s ease;
    	transition: opacity 0.2s ease;
	}

	#sous_menu{
		width: 1000px;
		height: 120px;
		margin-top: 5px;
		/*background-color: #555;*/
	}

	#sous_menu h3{
		text-shadow: 0px 0px 1px black;
		color: #555;
	}

		#sous_menu_1{
			width: 350px;
			height: 120px;
			float: left;
			font-size: 12px;
			margin-left: 20px;

			border-right: 1px solid #333;
		}

		#sous_menu_1 li{
			list-style: none;
		}

		#sous_menu_1 a:hover{
			color: #e66d1c;
			cursor: pointer;
		}


			#ligne_un{
				display: inline-block;
				margin-top: -3px;
				float: left;
				list-style: none;
				padding-left: 0px;
				margin-left: 40px;
				text-align: center;
				border: 1px solid #666;
				border-radius: 2px;

				-webkit-transition: border 0.2s ease;
				-moz-transition: border 0.2s ease;
				-ms-transition: border 0.2s ease;
				-o-transition: border 0.2s ease;
				transition: border 0.2s ease;
			}

			#ligne_un:hover{
				border: 1px solid #e66d1c;

				-webkit-transition: border 0.2s ease;
				-moz-transition: border 0.2s ease;
				-ms-transition: border 0.2s ease;
				-o-transition: border 0.2s ease;
				transition: border 0.2s ease;
			}

			#ligne_deux{
				display: inline-block;
				margin-top: -3px;
				float: left;
				list-style: none;
				padding-left: 0px;
				margin-left: 40px;
				text-align: center;
				border: 1px solid #666;
				border-radius: 2px;

				-webkit-transition: border 0.2s ease;
				-moz-transition: border 0.2s ease;
				-ms-transition: border 0.2s ease;
				-o-transition: border 0.2s ease;
				transition: border 0.2s ease;
			}

			#ligne_deux:hover{
				border: 1px solid #e66d1c;

				-webkit-transition: border 0.2s ease;
				-moz-transition: border 0.2s ease;
				-ms-transition: border 0.2s ease;
				-o-transition: border 0.2s ease;
				transition: border 0.2s ease;
			}

				.top{
					padding: 10px;
					cursor: pointer;
					color: #AAA;
					background-color: black;
					margin-bottom: -3px;

					-webkit-transition: color 0.2s ease;
					-moz-transition: color 0.2s ease;
					-ms-transition: color 0.2s ease;
					-o-transition: color 0.2s ease;
					transition: color 0.2s ease;
				}

				.top:hover{
					color: white;

					-webkit-transition: color 0.2s ease;
    				-moz-transition: color 0.2s ease;
    				-ms-transition: color 0.2s ease;
    				-o-transition: color 0.2s ease;
    				transition: color 0.2s ease;
				}

				.bottom{
					margin-top: 10px;
					padding: 10px;
					cursor: pointer;
					color: #AAA;

					-webkit-transition: color 0.2s ease;
					-moz-transition: color 0.2s ease;
					-ms-transition: color 0.2s ease;
					-o-transition: color 0.2s ease;
					transition: color 0.2s ease;
				}

				.bottom:hover{
					color: white;

					-webkit-transition: color 0.2s ease;
    				-moz-transition: color 0.2s ease;
    				-ms-transition: color 0.2s ease;
    				-o-transition: color 0.2s ease;
    				transition: color 0.2s ease;
				}

		#sous_menu_2{
			position: absolute;
			width: 350px;
			height: 120px;
			margin-left: 371px;
			padding-left: 15px;
			float: left;
			font-size: 12px;
			border-right: 1px solid #333;
		}

		#sous_menu_2 .input{
			color: #AAA;
			width: 120px;
			height: 25px;
			padding-left: 10px;
			margin-right: 10px;	
			/*box-shadow: 1px 2px 3px #333 inset;*/
			/*background-image: linear-gradient(bottom, rgb(45,45,45) 0%, rgb(51,51,51) 100%);
			background-image: -o-linear-gradient(bottom, rgb(45,45,45) 0%, rgb(51,51,51) 100%);
			background-image: -moz-linear-gradient(bottom, rgb(45,45,45) 0%, rgb(51,51,51) 100%);
			background-image: -webkit-linear-gradient(bottom, rgb(45,45,45) 0%, rgb(51,51,51) 100%);
			background-image: -ms-linear-gradient(bottom, rgb(45,45,45) 0%, rgb(51,51,51) 100%);*/
			background-color: black;
			border: 1px solid #666;
			border-radius: 2px;
		}

		#sous_menu_2 .input:focus{
			outline: none;
			border: 1px solid #e66d1c;
			/*box-shadow: 1px 2px 5px #222111 inset;*/

			-webkit-transition: border 0.3s ease, box-shadow 0.3s ease;
	      	-moz-transition: border 0.3s ease, box-shadow 0.3s ease;
	        -ms-transition: border 0.3s ease, box-shadow 0.3s ease;
	        -o-transition: border 0.3s ease, box-shadow 0.3s ease;
	        transition: border 0.3s ease, box-shadow 0.3s ease;   
		}

		input#submit_connexion{
			font-family: "Entypo";
			color: #AAA;
			background-color: black;
			font-size: 30px;
			position: relative;
			top: 5px;
			left: 3px;
			width: 30px;
			height: 29px;
			padding: 0px;
			border-radius: 1px 1px 2px 0px;
			border: 1px solid #666;
			-webkit-transition: color 0.2s ease, border 0.2s ease;
	      	-moz-transition: color 0.2s ease, border 0.2s ease;
	        -ms-transition: color 0.2s ease, border 0.2s ease;
	        -o-transition: color 0.2s ease, border 0.2s ease;
	        transition: color 0.2s ease, border 0.2s ease; 
		}

		input#submit_connexion:hover{
			color: #CCC;
			border: 1px solid #CCC;
			cursor: pointer;

			-webkit-transition: color 0.2s ease, border 0.2s ease;
	      	-moz-transition: color 0.2s ease, border 0.2s ease;
	        -ms-transition: color 0.2s ease, border 0.2s ease;
	        -o-transition: color 0.2s ease, border 0.2s ease;
	        transition: color 0.2s ease, border 0.2s ease;  
		}

		input#submit_connexion:active{
			color: #e66d1c;
			border: 1px solid #e66d1c;

			-webkit-transition: color 0.2s ease, border 0.2s ease;
	      	-moz-transition: color 0.2s ease, border 0.2s ease;
	        -ms-transition: color 0.2s ease, border 0.2s ease;
	        -o-transition: color 0.2s ease, border 0.2s ease;
	        transition: color 0.2s ease, border 0.2s ease;  
		}

		#sous_menu_2 .mdpoubli{
			display: block;
			float: right;
			margin-top: 7px;
			margin-right: 70px;
			/*margin-left: 2px;*/
			font-size: 11px;
			text-decoration: none;
			color: #777;
		}

		#sous_menu_2 .mdpoubli:hover{
			text-decoration: underline;
		}

		#sous_menu_2 .signup{
			display: block;
			float: left;
			margin-top: 5px;
			margin-left: 2px;
			font-size: 12px;
			text-decoration: none;
			color: #e66d1c;
		}

		#sous_menu_2 .signup:hover{
			text-decoration: underline;
		}

#menuuser{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 200px;
	height: 42px;
	color: #777;
	font-size: 0.8em;
	opacity: 1;
	-webkit-transition: opacity 0.1s ease;
    -moz-transition: opacity 0.1s ease;
    -ms-transition: opacity 0.1s ease;
    -o-transition: opacity 0.1s ease;
    transition: opacity 0.1s ease;
}

	#menuuser_contenu{
		color: #999;
		font-size: 120%;
		margin-top: 12px;
		margin-left: 10px
	}

	.pb_connexion{
		position: absolute;
		color: #e66d1c;
		bottom: 0px;
		margin-left: 10px;
		margin-right: 5px;
		margin-bottom: 3px;
	}

	.menuuser_inscription{
		color: #e66d1c;
		background-color: transparent;
		border: none;
		margin-top: 8px;
		margin-left: 10px;
		font-size: 120%;
		font-weight: 200;
	}

	.menuuser_inscription:hover{
		color: white;
		cursor: pointer;
	}

	#add_user{
		font-family: "Entypo";
		font-size: 150%;
	}

/*#menuuser input{
	width: 120px;
	height: 20px;
	margin-top: 7px;
	margin-left: 10px;
	padding-left: 5px;
	color: #AAA;
	box-shadow: 1px 2px 3px #333 inset;
	background-image: linear-gradient(bottom, rgb(45,45,45) 0%, rgb(51,51,51) 100%);
	background-image: -o-linear-gradient(bottom, rgb(45,45,45) 0%, rgb(51,51,51) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(45,45,45) 0%, rgb(51,51,51) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(45,45,45) 0%, rgb(51,51,51) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(45,45,45) 0%, rgb(51,51,51) 100%);
	border: 1px solid #666;
	border-radius: 2px;
}

#menuuser input:focus{
	outline: none;
	border: 1px solid #e66d1c;
	box-shadow: 1px 2px 5px #222111 inset;
	-webkit-transition: border 0.3s ease, box-shadow 0.3s ease;
	-moz-transition: border 0.3s ease, box-shadow 0.3s ease;
	-ms-transition: border 0.3s ease, box-shadow 0.3s ease;
	-o-transition: border 0.3s ease, box-shadow 0.3s ease;
	transition: border 0.3s ease, box-shadow 0.3s ease;
}*/

#moove{
	position: relative;
	width: 100%;
	height: 100%;
	bottom: 0px;
	z-index: 98;
}

#contenu{	
	width: 100%;
	min-height: 100%;
	background: url(../img/debut_dark.png);
	z-index: 99;
}

#milieu{
	width: 100%;
	height: 200px;
}
	
	#milieu_haut{
		position: absolute;
		margin-top: 10px;
		left: 40px;
		width: 45%;
		height: 70%;
		padding-top: 20px;
		/*border: 1px solid red;*/
		/*background-color: rgba(0,0,0,0.25);*/
		overflow: auto;
	}

		#milieu_haut ul{
			margin-left: 5%;
			padding-left: 0px;
			width: 90%;
			border: 1px solid red;
			list-style: none;
			overflow: auto;
		}

		#milieu_haut li{
			float: left;
			margin-left: 30px;
			margin-bottom: 10px;
			width: 250px;
			height: 150px;
			border: 1px solid lime;
		}

		.texte{
			position: absolute;
			left: 0px;
			font-family: 'Arial';
			font-weight: bold;
			font-size: 11em;
			font-size: 11vw;
			color: rgba(255, 255, 255, 0.2);
			opacity: 0.2;
		}

	#milieu_bas{
		/*background-color: rgba(0,0,0,0.25);*/
		margin-top: 10px;
		position: absolute;
		right: 40px;
		width: 45%;
		height: 67%;
		padding-top: 20px;
		/*border: 1px solid red;*/
		overflow: auto;
	}

		#milieu_bas ul{
			padding-left: 0px;
		}

		#milieu_bas li{
			width: 100%;
			height: 90px;
			list-style: none;
			background-color: rgba(0,0,0,0);
			font-size: 50px;

			-webkit-transition: background-color 0.5s ease;
    		-moz-transition: background-color 0.5s ease;
    		-ms-transition: background-color 0.5s ease;
    		-o-transition: background-color 0.5s ease;
    		transition: background-color 0.5s ease;
		}

		#milieu_bas li:hover{
			background-color: rgba(0,0,0,0.1);
			cursor: pointer;

			-webkit-transition: background-color 1s ease;
    		-moz-transition: background-color 1s ease;
    		-ms-transition: background-color 1s ease;
    		-o-transition: background-color 1s ease;
    		transition: background-color 1s ease;
		}

		#milieu_bas span{
			margin-left: 20px;
			position: relative;
			top: 12px;
		}

		#milieu_bas h1, #milieu_haut h1{
			font-family: 'Source Code Pro', sans-serif;
			color: rgba(255,255,255,0.1);
			font-size: 140px;
			letter-spacing: -30px;
			padding: 0px;
			margin: 0px;
			margin-bottom: -50px;
			margin-top: -50px;
			margin-left: -20px;
			text-align: center;
		}

	#picto_rejoindre ul{
		display: inline-block;
		position: absolute;
		margin: 0px;
		padding: 0px;
		top: 0px;
		right: 70px;
		list-style: none;
		font-family: 'Entypo';
		font-size: 250px;
		/*color: rgba(0,0,0,0.1);*/
		color: black;
		opacity: 0.2;
	}



#bas{
	position: fixed;
	bottom: 0px;
	/*
	margin-right: 50%;
	width: 800px; */
	width: 100%;
	height: 170px;
	padding-top: 15px;
	box-shadow: inset 0px 0px 8px #000;
	background-image: url( ../img/mochaGrunge.png );
}


#bas h3{
	position: relative;
	top: -80px;
	left: 180px;
	font-size: 80px;
	color: #BBB;
	text-shadow: 1px 3px #EEEFFF, 0px -2px #666;
}



/* CARROUSEL */


#wrapper{
	height: 170px;
	position: absolute;
	top: 50%;
	margin-top: -85px;
	width: 100%;
	margin-left: 0px;
	overflow: hidden;
}

#carousel img {
	margin: 10px 5px;
	border: none;
	display: block;
	float: left;
	min-width: 250px;
	min-height: 150px;
	max-width: 250px;
	max-height: 150px;
}

#prev, #next {
	background: center center no-repeat rgb(0,0,0);
	width: 60px;

	font-family: 'Entypo';
	color: white;
	font-size: 500%;
	height: 100%;
	text-align: center;
	text-decoration: none;
	position: absolute;
	margin-top: -15px;
	opacity: 0.7;
}

#prev:hover, #next:hover {

}

#prev {
	left: 0;
}

#next {
	right: 0;
}

/* AVGROUND */

aside h4{
	margin-left: 30px;
	font-family: 'Source Code Pro', sans-serif;
	font-size: 2em;
	font-variant: small-caps;
	color: #333;
}

aside input{
	width: 200px;
	margin-left: 40px;
	height: 30px;
	font-size: 1em;
	padding-left: 10px;
}

aside #pseudobox{
	display: block;
	width: 300px;
	height: 20px;
	position: absolute;
	top: 138px;
	left: 280px;
	font-size: 0.9em;
}

aside #mdpbox{
	display: block;
	width: 300px;
	height: 20px;
	position: absolute;
	top: 210px;
	left: 280px;
	font-size: 0.9em;
}

aside #mailbox{
	display: block;
	width: 300px;
	height: 20px;
	position: absolute;
	top: 238px;
	left: 280px;
	font-size: 0.9em;
}

aside .libre:before{
	margin-right: 10px;
	content: url(/img/form_check.png);
	width: 92%;
	height: 92%;
}

aside .non_libre:before{
	margin-right: 10px;
	content: url(/img/form_cross.png);
}

.libre{
	color: rgba(0, 155, 0, 0.7);
}

.non_libre{
	color: rgba(255, 0, 0, 0.8);
}

.avgrund-active body {
		-webkit-transform: scale( 0.9 );
		   -moz-transform: scale( 0.9 );
		    -ms-transform: scale( 0.9 );
		     -o-transform: scale( 0.9 );
		        transform: scale( 0.9 );
	}

.avgrund-active #menu:hover {
	height: 40px;
}

.cover {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	visibility: hidden;
	opacity: 0;
	background: rgba( 0, 0, 0, 0.5 );
}
	.avgrund-active .cover {
		visibility: visible;
		opacity: 1;
	}




.avgrund-popup {
	color: black;
	position: absolute;
	width: 800px;
	height: 400px;
	left: 50%;
	top: 50%;
	margin: -250px 0 0 -400px;
	visibility: hidden;
	opacity: 0;
	z-index: 200;
	padding: 5px;

	background: white;
	box-shadow: 0px 0px 20px rgba( 0, 0, 0, 0.6 );
	border-radius: 3px;

	-webkit-transform: scale( 0.8 );
	   -moz-transform: scale( 0.8 );
	    -ms-transform: scale( 0.8 );
	     -o-transform: scale( 0.8 );
	        transform: scale( 0.8 );
}
	.avgrund-active .avgrund-popup {
		visibility: visible;
		opacity: 1;

		-webkit-transform: scale( 1.1 );
		   -moz-transform: scale( 1.1 );
		    -ms-transform: scale( 1.1 );
		     -o-transform: scale( 1.1 );
		        transform: scale( 1.1 );
	}
	


.avgrund-ready body,
.avgrund-ready .avgrund-contents,
.avgrund-ready .avgrund-popup,
.avgrund-ready .cover {
	-webkit-transform-origin: 50% 50%;
	   -moz-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	     -o-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;

	-webkit-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
	   -moz-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
	    -ms-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
	     -o-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
	        transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.avgrund-ready .avgrund-popup.no-transition {
	-webkit-transition: none;
	   -moz-transition: none;
	    -ms-transition: none;
	     -o-transition: none;
	        transition: none;
}


#inscription{
	color: #e66d1c;
	width: 135px;
	height: 25px;
	margin-top: 3px;
	margin-right: 10px;
	margin-left: -40px;	
	background-color: transparent;
	border: none;
}

#inscription:hover{
	text-decoration: underline;
	cursor: pointer;
}


